* {
    box-sizing: border-box;
}
:root {
    --primary: rgba(14, 119, 143, 56);
    --secondary: rgba(74, 222, 255, 100);
    --quarternary: rgba(41, 186, 219, 86);
    --quinary: rgba(143, 67, 0, 56);
    --senary: rgba(219, 125, 42, 86);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to right, var(--secondary),var(--quinary), var(--quinary)) ;
    box-shadow: 0 5px 35px;
    padding: 15px 6% 15px 0;
}