* {
    box-sizing: border-box;
}

:root {
    --primary: rgba(105, 49, 122, 48);
    --secondary: rgba(114, 86, 122, 48);
    --dark: #000;
    --light: #fff
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to right , var(--dark) 55%, var(--primary)) ;
    box-shadow: 0 5px 35px;
    padding: 15px 6% 20px 0;
    color: white;
}

header h1 {
    margin-left: 20px;
    
}

a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

header ul li{
    list-style-type: none;
    display: inline-block;
}