/*universal settings for page*/
* {
  box-sizing: border-box;
  margin: 0px;
  font-size: 100%;
  
}

/*Defining body background, font family and font color */
body {
  background-color: var(--dark); 
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

/*defining colors to be used throughout the page*/
:root {
  --primary: rgba(105, 49, 122, 48);
  --secondary: rgba(114, 86, 122, 48);
  --tertiary: rgba(216, 100, 250, 98);
  --dark: #000;
  --light: #fff;
}

/*Making the container a flex container, spacing elements evenly and 
centering elements. Making the background a gradient using root colors 
and using padding to position the header
*/
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(to right, var(--dark) 55%, var(--primary));
  padding: 40px 5% 40px 0;
}

/* Margin and padding to position the h1 element, setting font family and size*/
header h1 {
  margin-left: 30px;
  font-size: 50px;
  padding-bottom: 20px;
}

/*left padding for nav container for flex positioning, otherwise it will hug 
the left side of the screen*/
nav {
  padding-left: 25px;
}

/*Displaying links in header inline instead of default block*/
li {
  display: inline-block;
}

/*Setting the link color to white, also is a root color, removing the 
default underline, adding padding around the links, and removing the
background so the background is visible*/
a {
  color: var(--light);
  text-decoration: none;
  padding: 8px;
  background-color: transparent;
}

/*underline links when mouse hovers over them*/
a:hover {
  text-decoration: underline;
}

/*Changing color for last name in header
increasing brightness to contrast with the background*/
span {
  color: #7c7c7c7c;
  filter: brightness(200%);
}

/*setting headshot width to be 50% of container width, allowing it to flex
 and defining position */
.headshot {
  max-width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

@media screen and (min-width: 700px) { .headshot {
  max-width: 500px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}}


/*setting flex wrap for all divs used throughout the page*/
div {
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
}

/*container for about me section. Defining size,
positioning, font size, and responsiveness*/
.outer {
  width: 80%;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 120%;
}

/*used in about me and footer sections, 
defining size, justification, and flex*/
.box {
  height: 100px;
  align-items: center;
  flex: 1 0 0;
}

/*only for screens at least 700ox wide, text will float 
to the right of "About me", positioning and styling for text,
height is set to 220px for the left border */
@media screen and (min-width: 700px) { .content {
  height: 220px;
  align-items: center;
  display: flex;
  padding-left: 20px;
  line-height: 1.5;
  flex-wrap: wrap;
  margin-right: auto;
  flex: 1 0 0;
}}

/*only for screens less than 700px wide, text will float 
below "About me", positioning and styling for text,
height is set to 220px for the left border */
@media screen and (max-width: 699px) { .content {
  height: 220px;
  align-items: center;
  display: flex;
  padding-left: 20px;
  line-height: 1.5;
  flex-wrap: wrap;
  margin-right: auto;
}}


/*left border visual styling for About Me 
and Contact Me sections*/
.vertical-line {
  border-left: solid var(--secondary);
}

/*container for work section*/
.container {
  padding-top: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

/*"Work" text and surrounding lines positioning, lots of google and trial and error. 
Basically using border colors and adjusting the postion and style to get the desired effect
as well as reposnsiveness with different screen sizes*/
.container h2::after {
  content: "";
  width: 200%;
  border-bottom: solid var(--secondary);
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 80px;
}

.container h2::before {
  content: "";
  width: 200%;
  border-bottom: solid var(--secondary);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 80px;
  display: block;
}

.container h2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  display: flex;
  font-size: 150%;
}

/*flex positioning for elements in the large tile div*/
.large-tile {
  display: flex;
  justify-content: center;
}

/* setting size for the first work tile image to be larger than the rest, defining
position, and adding a border*/
.large-tile img {
  width: 70%;
  margin-top: 20px;
  border-style: solid;
  border-color: var(--secondary);
  display: flex;
  margin-left: auto;
  margin-right: auto; 
  justify-content: center;
}

/*positioning for text in image link to prework study guide*/
label {
  background-color: var(--primary);
  position: absolute;
  margin-top: 50px;
  font-size: 150%;

}

/*container for smaller links, defining position, size, layout,
and flex for smaller tiles to wrap for different screen sizes*/
.small-tiles {
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 100px;
  justify-content: center;
}

/*setting size for smaller images under work section, setting a border
and margin surrounding images*/
.small-tiles img {
  width: 200px;
  border-style: solid;
  border-color: var(--secondary);
  margin: 25px;
}


/*setting a glow around images under main section when hovered over*/
main img:hover {
  box-shadow: 0px 0px 25px 6px var(--primary);
}

/* setting row positioning, flex for div to stack
when screen is too small,  setting border and background colors
bottom padding for styling*/
  footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-top: solid;
  background-color: #7c7c7c7c;
  padding-bottom: 15px;
}

/*justifying content in the footer and adding padding around items*/
footer div {
  padding: 20px;
  justify-content: end;
}

.small-labels {
  display: flex;
  padding-left: 50px;
  padd: -150px;
  
}



