* {
  box-sizing: border-box;
  margin: 0px;
  font-size: 100%;
}
body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  color: white;
}

:root {
  --primary: rgba(105, 49, 122, 48);
  --secondary: rgba(114, 86, 122, 48);
  --tertiary: rgba(216, 100, 250, 98);
  --dark: #000;
  --light: #fff;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(to right, var(--dark) 55%, var(--primary));
  padding: 40px 5% 40px 0;
  color: white;
}

header h1 {
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
  padding: 20px;
  background-color: transparent;
}
a:hover{
    text-decoration: underline;
}
header ul li {
  list-style-type: none;
  display: inline-block;
}

span {
  color: #7c7c7c7c;
  filter: brightness(200%);
}

.headshot {
  padding-top:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  height: 400px;
}

div {
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 500px;
  height: 500px;
}

.outer {
  width: 80%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 120%;
}

.box {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
}

.content {
  height: 100px;
  align-items: center;
  position: relative;
  display: flex;
  padding-left: 20px;
  line-height: 1.5;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.vertical-line {
  border-left: solid var(--secondary);
}

.container {
  width: 100%;
  padding-top: 100px;
}
.container h2::after {
  content: "";
  width: 200px;
  border-bottom: solid var(--secondary);
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 80px;
  display: block;
}

.container h2::before {
  content: "";
  width: 200px;
  border-bottom: solid var(--secondary);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 80px;
  display: block;
}

.container h2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  display: flex;
  font-size: 150%;
}

.large-tile {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.large-tile img {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-style: solid;
  border-color: var(--secondary);
}

.large-tile img:hover {
  box-shadow: 0px 0px 50px 6px var(--primary);
}

.small-tiles {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  justify-content: center;
}

.small-tiles img {
  width: 250px;

}
.small-tiles section:hover {
  box-shadow: 0px 0px 25px 6px var(--primary);
}
.small-tiles section {
  border-style: solid;
  border-color: var(--secondary);
  margin: 20px;
  flex: 0 0 0;
  
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-top: solid;
  background-color: #7c7c7c7c;
}

footer div {
  padding: 20px;
  color: white;
  flex-wrap: wrap;
  margin-left: 50px;
  justify-content: end;
}
